<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>пользователи</title>
</head>
<body>
<h1><strong>
  <BLOCKQUOTE><font color="FF0000">Пользователи:</font></BLOCKQUOTE>
</strong></h1>

<div th:block th:each="mac : ${messages}">
  <font color="blue"><b><em th:text="${mac}"></em></b></font><br><br>
  </th:block>
</div>

<br/>
<hr/>

<a href="/user">Редактирование пользователей</a>

</body>
</html>