<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        пользователи
    </title>
</head>

<body>
<h1><strong>
    <BLOCKQUOTE>
        <font color="FF0000">Пользователи:</font>
    </BLOCKQUOTE>
</strong></h1>
<div th:each="mac : ${messages}">
    <a th:href="@{/pages/{id}(id = ${mac.getId()})}"
       th:text="${mac.getName() + ', ' + mac.getAge()}">pepl
    </a>
</div>
<br/>
<hr/>
<a href="/new">Создание нового пользователя</a>
</body>

</html>